PORT=5000
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/gharkakhana?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret
RAZORPAY_KEY_ID=rzp_test_xxxxx
RAZORPAY_KEY_SECRET=rzp_test_yyyyy
WEBHOOK_SECRET=your_webhook_secret_optional
FRONTEND_URL=https://rv205.github.io/gharkakhana-website
